body {
    background-color: lightblue;
    font-family: Arial, sans-serif; 
    color: #333; 
}

#map {
    display: flex; 
    max-width: 1200px;
    height: 450px; 
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 15px;
    border: 5px solid lightseagreen;

}

#additionalContainer {
    display: flex; 
    flex-direction: column;
    max-width: 1160px;
    height: 120px; 
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 5px solid lightseagreen;
}

.main-title {
    text-align: center;
    color: seagreen; 
    font: 80px Arial, sans-serif;
    font-weight: bold;
}

.section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 670px; 
    overflow: auto; 
    background-color: white;
    border-radius: 15px; 
    overflow: hidden;
    border: 5px solid lightseagreen;
}

.content-row {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}

.rightSection {
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: seagreen; 
}

h2 {
    text-align: center;
    color: skyblue; 
}

h3 {
    color: darkseagreen; 
}

strong {
    color: skyblue; 
}